<section class="section">
    <div class="container">
        <h1 class="title is-2 has-text-centered">
            今、どんな事をやっていますか？
        </h1>
        <%= render 'form', shot: @shot %>
    </div>
</section>